<div class = 'onlydiv'>

    <h3>
        The Product ID is {{prodRes[pid].id}}. To confirm, check the URL bar. The URL bar follows 0 indexing, so element at 0'th index has ID = {{prodRes[pid].id}}.
    </h3>

    <h3>
        The Product name is {{prodRes[pid].name}}.
    </h3>

    <h3>
        The Product createdAt value is "{{prodRes[pid].createdAt}}".
    </h3>

    <h3>
        The Product Avatar is "{{prodRes[pid].avatar}}".
    </h3>

    <h4>
         
        <a href="https://5f0428508b06d60016dde0fb.mockapi.io/secondAttempt">Click here to see the complete MOCK API URL data in JSON format:</a>
    </h4>
    
    <button type="button" routerLink = "/">Click here to Go Back</button>

</div>

